body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 50px;
}
span {
  color: goldenrod;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 80%;
  padding-left: 5%;
  
}
.half-width img {
  width: 50%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  font-weight: bolder;
  border-radius: 5px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

  
}
.exp-item{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 3%;
  box-shadow:10px 10px 40px gray;
  text-align: center;
  border-radius: 10px;
  border-left: red;
 
}
h2{
  font-size: 30px;
}
.expirence-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  }
  #web-dev-expirecnce{
    border-image-slice: 1;
    border-image: linear-gradient(blue cyan);
    border-left: 7px solid;
  }
  #full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(blue cyan);
    border-image-slice: 1;
  }
  footer p{
    text-align: center;
  }
    
    
    

  
